[submodule "buildtools/connectal"]
	path = buildtools/connectal
	url = https://github.com/cambridgehackers/connectal.git
[submodule "buildtools/fpgamake"]
	path = buildtools/fpgamake
	url = git://github.com/cambridgehackers/fpgamake
[submodule "buildcache"]
	path = buildtools/buildcache
	url = git://github.com/cambridgehackers/buildcache
[submodule "orgin"]
	path = orgin
	url = git@github.mit.edu:shuotao/MonetDB.git
[submodule "MonetDB"]
	path = MonetDB
	url = git@github.mit.edu:shuotao/MonetDB.git
